@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VerelaRound';
    src: url('./fonts/varelaround-regular-webfont.woff2') format('woff2'),
         url('./fonts/varelaround-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
